.notification{
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 3rem;
  opacity: 0;
  transition: opacity .3s ease;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: $bold;
  border-radius: 1rem;
  text-align: center;

  &.error{
    background: #ff301f;
    color: $blanco;
  }

  &.success{
    background: #6db129;
    color: $blanco;
  }
}

.visible{
  opacity: 1;
}